.home-page {
    display: flex;
    /* align-items: center; */
    justify-content: start;
    width: 92vw;
    max-width: 92vw;
    height: 100vh;
    flex-direction: column;
    margin: 4vw;
}

.task-container {
    /* margin: 2% 3% 0 3%; */
    margin: 4% 0 0 0;
    border: 1px solid #000;
    border: 1px solid rgb(226 232 240 / 80%);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 8px;
    max-width: 45vw;
}

.home-page header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 50vw; */
    /* margin: 0 3%; */
    /* margin: 2% 3% 0 3%; */
}

.task-assign-row {
    display: flex;
    margin-top: 4%;
}

.task-description-row {
    display: flex;
    margin-top: 4%;
}

.task-assign-row .task-assign-container {
    display: flex;
    flex-direction: column;
}

.task-description-container {
    display: flex;
    flex-direction: column;
}

.task-assign-row > span {
    margin-left: 0;
    padding: 10px;
    /* margin: 10px; */
    /* border: 2px solid #4267B2; */
    border-radius: 8px;
}
.task-description-row > span {
    margin-left: 0;
    padding: 10px;
    border-radius: 8px;
}

/* .task-title-row h2 {
    margin: 0;
} */

 .task-assign-title {
    font-size: 14px;
}
 .task-assign-value {
    font-size: 20px;
}

.update-button-container {
    display: flex;
    align-self: center;
}

.update-button {
    align-self: flex-end;
}

.task-description-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.no-description {
    font-style: italic;
}

.tab-container {
    display: flex;
    margin-top: 15px;
}

.tab-container .tabname {
    padding: 4%;
    font-size: 18px;
    /* margin: 4%; */
}

.tab-container .activeTab {
    border-bottom: #4267B2 4px solid;
}

.tab-container .inactiveTab {
    border-bottom: rgb(226 232 240 / 80%) 4px solid;
}

.task-table .task-data {
    background-color: rgba(255, 184, 143, 25%);
    border-radius: 6px;
}


.task-table tr {
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 3%;
    margin-top: 3%;
}

.task-data {
    cursor: pointer;
}

.task-table .date-label {
    width: 10vw;
    max-width: 10vw;
}

.task-table .task-label {
    width: 55vw;
    max-width: 55vw;
    padding-left: 10px;
}

.task-table .progress-label {
    width: 10vw;
    max-width: 10vw;
    text-align: center;
}

.task-headings th {
    font-size: 9px;
}

.task-data td {
    font-size: 10px;
}

.task-table {
    margin-top: 8px;
}

.signout-button {
    border-radius: 8px;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}